  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-click="gotoHome()" href="">KANOE</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a ng-click= "gotoPeople()" href="">People</a></li>
      <li><a ng-click= "gotoProjects()" href="">Projects</a></li>
      <li><a ng-click= "gotoPublications()" href="">Publications</a></li>
      <li><a ng-click= "gotoEvents()" href="">Events</a></li>
      <li><a ng-click= "gotoContact()" href="">Contact</a></li>
          <!-- <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a ng-if="!loggedin" ng-click="gotoLogin()" href="">Login</a></li>
        <li><a ng-if="loggedin" ng-click="signout()" href="">Signout</a></li>
       </ul> 
        <!-- <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="tabs" class= "container">
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li><a ng-click= "viewProject()" href= "">View Projects</a></li>
      <li><a ng-if= "loggedin" ng-click= "addProject()" href= "">Add Project</a></li>
      <li><a ng-if= "loggedin" ng-click= "deleteProject()" href= "">Delete Project(s)</a></li>
    </ul>
    <div id="mainView">
      <div ng-include="currentTab"></div>
    </div>
  </div>
  <script type="text/ng-template" id="add">
  <div id="addP">
  <h2>Add Project Form</h2>
  <div class= "container jumbotron">
  <label>Project title</label>
    <input type="text" class="form-control" placeholder="Enter title" ng-model= "data.title">
    <br>
  <label>Project description</label>
  
  <input type="text" class="form-control" placeholder="Enter description" ng-model= "data.description">
 <br>
  <label>Seperate participants by comma</label>
  
  <input type="text" class="form-control" placeholder="Enter participants" ng-model= "data.participants">
<br>
    
    <p><a class="btn btn-primary btn-lg" role="button" ng-click="submitAdd()">Submit</a></p>

  </div>
  </div>
  </script>

  <script type="text/ng-template" id="view">
  <div id="viewPlogged" ng-if= "loggedin">
    <h2>Project List</h2>
    <div class= "container">
    <table class= "table table-striped" editable>
      <tr>
      <th>#</th>
      <th style= "font-size:20px;">Title</th>
      <th style= "font-size:20px;">Participants</th>
      <th></th>
      </tr>
      <tr ng-repeat="project in entities" ng-click="viewFullProject(project)">
        <td>{{$index+1}}</td>
        <td>{{project.title.slice(0,30)}}</td>
        <td>{{project.participants.slice(0,30)}}</td>
        <td><button class= "btn btn-primary" ng-click= "edit(project.id, project.title, project.description, project.participants, $event)">Edit</button></td>
      </tr>
    </table>
    <div ng-if="data.dataLoading">
      <i style= "margin-left: 48%;" class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    </div>
  </div>

  <div id="viewPlogged" ng-if= "!loggedin">
    <h2>Project List</h2>
    <div class= "container">
    <table class= "table table-striped" editable>
      <tr>
      <th>#</th>
      <th style= "font-size:20px;">Title</th>
      <th style= "font-size:20px;">Participants</th>
      </tr>
      <tr ng-repeat="project in entities" ng-click="viewFullProject(project)">
        <td>{{$index+1}}</td>
        <td>{{project.title.slice(0,30)}}</td>
        <td>{{project.participants.slice(0,30)}}</td>
      </tr>
    </table>
    <div ng-if="data.dataLoading">
      <i style= "margin-left: 48%;" class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    </div>
  </div>
  </script>

  <script type="text/ng-template" id="delete">
  <div id="deleteP">
  <h2>Project List</h2>
    <div class= "container">
    <table class= "table table-striped" ng-model= "tab">
      <tr>
      <th><input type= "checkbox" class= "checkbox" ng-click= "selectAll($event)" ng-checked= "isSelectedAll()"></th>
      <th style= "font-size:20px;">Title</th>
      <th style= "font-size:20px;">Description</th>
      <th style= "font-size:20px;">Participants</th>
      </tr>
      <tr ng-repeat="e in entities" ng-class= "getSelectedClass(e)">
        <td><input type= "checkbox" rel= {{project.id}} name= "selected" ng-checked= "isSelected(e.id)" ng-click= "updateSelection($event, e.id)"></td>
        <td>{{e.title.slice(0,30)}}</td>
        <td>{{e.description.slice(0,40)+"..."}}</td>
        <td>{{e.participants.slice(0,30)}}</td>
      </tr>
    </table>
    <button class= "btn btn-primary" ng-click= "delete()">Delete</button>
    </div>
  </div>
  </script>