<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="gotoHome()" href="">KAnOE</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li><a ng-click= "gotoPeople()" href="">People</a></li>
      <li><a ng-click= "gotoProjects()" href="">Projects</a></li>
      <li><a ng-click= "gotoPublications()" href="">Publications</a></li>
      <li><a ng-click= "gotoEvents()" href="">Events</a></li>
      <li><a ng-click= "gotoContact()" href="">Contact</a></li>
        <!-- <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-if="!loggedin" ng-click="gotoLogin()" href="">Login</a></li>
        <li><a ng-if="loggedin" ng-click="signout()" href="">Signout</a></li>
       </ul> 
      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<table align="center">
            <tbody><tr align="center">
        <td align="center"><img src="images/kanoe.jpg" height="200" width="180"></td>
              <td rowspan="2"><br><h2>KAnOE: Centre for Knowledge Analytics and Ontological Engineering</h2></td>
        <td rowspan="2" align="center"><img src="images/pesit.jpg" height="200" width="180"></td>
              </tr>
      <tr>
        <td>
        </td>
      </tr>
</tbody></table>
<div class= container>
<div class= "jumbotron">
    <hr>
              <h3>World Bank (TEQIP-II) Funded Centre of Excellence at <a href="http://pesit.pes.edu">PES Institute of Technology, Bangalore, India</a></h3>

        PES Institute of Technology has been selected for a multi-crore <a href="http://web.worldbank.org/WBSITE/EXTERNAL/COUNTRIES/SOUTHASIAEXT/0,,contentMDK:22505968~pagePK:2865106~piPK:2865128~theSitePK:223547,00.html">World Bank funding through the TEQIP program</a> to set up a Centre of Excellence in Knowledge Analytics and Ontological Engineering (KAnOE) in the emerging multi-disciplinary areas of knowledge engineering and knowledge management.
<p><br>
<hr>
<h3><a href="http://www.kanoe.org/InaugurationPhotos.html">Click here to see KAnOE Inauguration Pictures (May 20, 2013)</a></h3>
<hr>
<p>     <p style= "font-size: 125%;">
        KAnOE is the only research centre in the world focusing on Knowledge Analytics in combination with Ontological Engineering – the latter area itself having only a few other centres in the world such as at <a href="http://ontology.buffalo.edu/bcor/">Buffalo, USA</a> and <a href="http://www.ecor.uni-saarland.de/home.html">Saarbrucken, Germany</a>. KAnOE is being set up in collaboration with several <a href="partners.html">global and Indian organizations of repute</a>.
        <p>

        <blockquote><b>KAnOE’s vision</b> is to make a defining contribution to knowledge management through knowledge analytics and ontological engineering.</blockquote>
        
        <blockquote><b>KAnOE's mission</b> is to become an internationally recognized research center in the new area at the intersection of knowledge analytics and ontological engineering with a focus India-specific socially relevant problems.</blockquote>
        <p style= "font-size: 125%;">
        KAnOE’s overall objectives are to explore new research opportunities that have opened up at the intersection of knowledge analytics and ontological engineering. Further, KAnOE aims to apply the research findings in the social context of India to derive benefits to critical needs of our society such as preservation of traditional knowledge of India and improving the quality of teaching in schools in vernacular languages. In addition, KAnOE also aims to develop effective applications of research output to deliver proofs of concept and product designs in the practical areas of managing product dependencies and compatibilities in the two diverse areas of mechanical engineering and software development and maintenance.
        <p style= "font-size: 125%;">
        Apart from a variety of unique workshops and training programs, KAnOE proposes to engage actively in faculty and student exchange programs with its partnering institutions, host a lecture series and organize national-level student challenges in Semantic Web Technologies. The newly started Master’s program in Web Technologies in the Computer Science Department at PESIT provides an ideal partnership between academics and research, enriching the learning experience of students. Further, KAnOE is expected to provide a vibrant environment for nurturing research in knowledge analytics and ontological engineering, being located in the heart of Bangalore - the Information Technology capital of India.
        <p style= "font-size: 125%;">
        The centre is being set up jointly by the departments of <a href="http://pesit.pes.edu/computer-science">computer science,</a> <a href="http://pesit.pes.edu/information-science">information science</a> and <a href="http://pesit.pes.edu/mechanical">mechanical engineering</a> with <a href="http://www.linkedin.com/in/kavimahesh">Dr. Kavi Mahesh</a> as the Director and <a href="http://pesit.pes.edu/mechanical/faculty/k-n-seetharamu">Dr. K. N. Seetharamu</a> as the Chief Mentor.

</div>
</div>
